madara>=0.1.2
gunicorn>=20.0.4
click>=7.1.2
webargs>=8.2.0
marshmallow>=3.18.0
apispec>=6.0.2
inotify==0.2.10
uvicorn[standard]>=0.17.6
uvicorn-worker>=0.2.0
a2wsgi==1.10.0
starlette>=0.21.0
python-multipart>=0.0.7
jinja2>=3.1.2
pyyaml>=5.3.1,!=5.4.1,!=6.0
aiohttp>=3.10.0